<p style="color: green"><%= notice %></p>


<% content_for :title, "Users" %>

<h1>Usuarios</h1>
<%# abc = 3 %>
<%# xyz = abc + 5 %>
<%# xyz %>

<%= @users.inspect %>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
